.promo {
  min-height: 650px;
  padding: 21px 0 93px;
  background: url(../img/img-bg/bg.png) center (center/cover) no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 91px 0 93px;
  }

  &__header {
    font-weight: bold;
    font-size: 42px;
    color: $text-color;
    text-transform: uppercase;
    margin: 0;
  }

  &__subheader {
    font-weight: 500;
    font-size: 24px;
    color: $text-color;
    text-transform: uppercase;
    margin: 17px 0 60px;
  }

  &__icons {
    display: flex;
    align-items: center;

    width: 424px;
  }

  &__icon {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $text-color;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 16px;
    color: $text-color;
    line-height: 25px;
    a {
      color: $text-color;
      text-transform: uppercase;
    }
  }
}
